.wd-title-bar {
    border-color: rgb(47, 51, 54);
    border-style: solid;
    border-width: 1px;
    padding: 12px 0 0 16px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.wd-ellipsis {
    text-decoration: none;
    color: rgb(29, 161, 242);
    margin-right: 12px;
    font-weight: bold;
    float: right;
}

.wd-title {
    color: white;
    font-size: 20px;
    margin: 0;
}

.wd-username {
    color: lightgray;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 12px;
    margin-top: 3px;
}

.wd-post-container {
    padding: 12px 0 12px 16px;
    display: flex;
    flex-direction: row;
}

.wd-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: rgb(47, 51, 54);
}

.wd-post {
    margin-left: 12px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wd-avatar {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.wd-light-text {
    color: lightgray;
    font-size: 15px;
    display: inline;
}

.wd-name {
    color: white;
    font-size: 15px;
    display: inline;
}

.wd-post-images {
    width: 504px;
    height: 264px;
    border-radius: 15px 15px 0 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    float: left;
}

.wd-post-summary {
    float: left;
    border-style: none solid solid solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    border-radius: 0 0 15px 15px;
    width: 504px;
}

.wd-post-summary * {
    margin: 0;
}

.wd-post-text {
    color: white;
    font-size: 15px;
    max-width: 506px;
    margin-bottom: 12px;
    margin-right: 16px;
}

.wd-post-summary-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
}

.wd-post-summary-text {
    color: lightgray;
    font-size: 15px;
    padding: 0 12px 12px 12px;
}

.wd-actions {
    margin-top: 12px;
}

.wd-actions a {
    margin-right: 90px;
}

.wd-like {
    color: red;
}

.wd-actions .wd-action-icon {
    display: inline;
    margin-right: 12px;
}
